    body {
        height: 100%;
        width: 100%;
        background-color: purple;
        color: black;
    }

    .wholepage {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .column {

        padding: 10px;
        border: 1px solid #77aaff;
        box-shadow: -1px 1px #77aaff,
            -2px 2px #77aaff,
            -3px 3px #77aaff,
            -4px 4px #77aaff,
            -5px 5px #77aaff;
    }

    .container-fluid {
        display: flex;
        flex-direction: row;
        padding: 1px;
        border: 1px solid #77aaff;
        box-shadow: -1px 1px #77aaff,
            -2px 2px #77aaff,
            -3px 3px #77aaff,
            -4px 4px #77aaff,
            -5px 5px #77aaff;
    }

    h2 {
        margin-top: 0%;

        font-size: small;

    }

    .wholepage {
        display: flex;
        justify-content: space-around;

        flex: auto;

    }

    .d-block_w-100 {
        height: 100px;
        width: 100px;
    }