.slider-container{
    width: 100%;
}


.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header{
    background: rgb(1, 1, 107);
    height: 120px;
}

.footer{
    background: red;
    height: 80px;
}

.main{
    text-align: left;
    background: rgb(7, 0, 97);
    height: 520px;
    font-size: 24px;
}

.aside1{
    background: greenyellow;
}

.aside2{
    background: yellow;
}

img{
    height:500px;
}


@media all and (min-width: 800px){
    .main{
        flex:3;
    }
    .aside1{
        order: 1;
    }
    .aside2{
        order: 2;
    }
    .main{
        order:2;
    }
    .footer{
        order: 4;
    }
}

@media all and (min-width: 600px){
    aside{
        flex: 1;
    }
}

@media screen {
    
}

#aside2-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#carousel {
    margin: 20px;
    display: flex;
    justify-content: center;
}