body {
    background: linear-gradient(135deg, orange 60%, cyan)
}

h1 {
    display: flex;
    color: white;
    justify-content: center;
    margin: 20px;
    text-shadow: 3px 3px black;
}

.playerlist-container {
    display: grid;
    grid-template-columns: 400px 250px;

}

.player-list {
    display: flexbox;    
    justify-content: center;
    color:black;
    background-color: white;

.card{
    border: 8px solid black;
}

.card-img-top{
    width: 200px;
    height:200px;
    object-fit: cover;
    object-position:5% 5%;
    border: 2px solid black;
}

*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#container
{
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
}

#container #logo
{
    position: absolute;
    left: 8%;
    top: 30px;
    font-size: 30px;
    z-index: 997;
    font-weight: bold;
    color: rgb(252, 253, 253);
}

#navbar
{
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(11, 0, 110);
    display: grid;
    place-items: center;

}

#navbar ul
{
    list-style: none;
    display: flex;

    justify-content: center;
    margin: 20px;
    background-color: #A19060;
}

    flex-direction: row;
}

#navbar ul li
{
    font-size: 20px;
    margin: 0 45px;
}

#navbar ul li a
{
    text-decoration: none;
    color: rgb(253, 248, 248);
}

#navbar ul li a:hover
{
    color: rgb(208, 0, 0);
}

#image
{
    position: absolute;
    top: calc(50% - 300px);
    right: 5%;
    z-index: 999;
}

#image img
{
    height: 600px;
    filter: drop-shadow(-140px -140px 5px black);
    transition: 0.5s;
}

#image img:hover
{
    filter: drop-shadow(0px 0px 5px black);
}

#content
{
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 996;
}

#content h2
{
    font-size: 300px;
    color: rgb(2, 0, 130);
}

#content h2:hover
{
    color: rgb(255, 0, 0);
    transition: 0.5s;
}
#content h4
{
    font-size: 70px;
    color: rgb(22, 0, 122);
}

#content h4:hover
{
    color: rgb(255, 0, 0);
    transition: 0.5s;
}

